.cart-card{
    width:500px ; min-height:200px ; 
    box-shadow: 0px 0px 10px rgb(0, 0, 0 , .1) ;
    border-radius: 10px  ;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:10px ; 
    margin:10px ; 
}
.cart-card-img{  
    flex:.3 ; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-card img{ 
    width:100px ; 
    height:100px; 
    border-radius: 50%;
}
.cart-card-info{ 
    flex:.7 ; 
}
.cart-card-info button{ 
    cursor: pointer;
    background-color: red;
    color:white; 
    border:none ; 
    padding: 5px 10px ; 
    border-radius: 5px;
}

@media (max-width: 767px) {
    .cart-card { 
        width:90vw; 
        min-height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        margin: 10px 0;
    }
    .card-row{ 
    }

    .cart-card-img {
        flex: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .cart-card img {
        width: 80px;
        height: 80px;
    }

    .cart-card-info {
        flex: none;
        width: 100%;
    }

    .cart-card-info .card-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .cart-card-info h3 {
        font-size: 18px;
    }

    .cart-card-info p {
        font-size: 16px;
    }
    .cart-price{  
        display: none;
    }

    .cart-card-info ul {
        padding-left: 20px;
    }

    .cart-card-info ul li {
        font-size: 14px;
    }

    .cart-card-info button {
        width: 100%;
        padding: 10px 0;
        margin-top: 10px;
    }
}
