.product-card{ 
    width:200px ; 
    height: 225px ;
    margin:20px ; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
}

.product-card img{ 
    width:150px ; 
    height:150px ; 
    border-radius: 50%;
}
.product-card h4{ 
    font-size: 20px;
    text-align: center;
}

@media (max-width: 767px) {
    .product-card { 
        width:80% ; 
        height: auto;
        margin: 10px 0; 
        flex-direction: row;
        padding: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .product-card img { 
        width: 80px; 
        height: 80px; 
    }

    .product-card h4 { 
        flex:.7 ; 
        font-size: 16px;
        text-align: left;
        margin-left: 10px;
    }
}
